{% extends 'chatroom/base.html' %}
{% block extracss %}<link href="/static/css/styles.css" rel="stylesheet"/>{% endblock %}
{% block maincontainer %}
  <div class="col-md-6 post-messages">
    <form role="form" action={% url "subscribe" %} method="POST">
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Post</button>
        {%csrf_token%}
    </form>
  </div>
{% endblock %}
{% block extrajs %}
{% endblock %}
